:root {
  --font-title: Nunito Sans,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  --font-paragraph: Nunito Sans,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.header-container {
  max-width: revert;
}

/* Table starts here */
.table {
  width: 100%;
}

.table .table-row:nth-child(even) {
  background-color: var(--color-light-2);
}

.table-row {
  background-color: var(--color-light-0);
  border-collapse: collapse;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

.table-row.header {
  background-color: var(--color-primary);
  border-bottom: 0 solid var(--color-primary);
  color: var(--color-bg);
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.table-item {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.table-item-flex-column {
  flex-flow: column wrap;
  align-items: flex-start;
}

.table-row-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}

.flex-end {
  flex-grow: 1;
  justify-content: flex-end;
}

.number {
  font-family: monospace;
  font-size: 1rem;
  display: inline-block;
  color: var(--color-text-light);
}
/* Table ends here */
/* Activity starts here */
.activity-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.activity-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem 0;
  gap: 1rem;
}

.activity-container .header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  color: var(--color-text-light);
}

.activity-container .date {
  font-size: 0.8rem;
}

.activity-container .item {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px solid var(--color-light-0);
}

.activity-container .icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
}

.activity-container .comment {
  padding: 0.5rem 1.8rem;
}

.activity-container .status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 0;
}
/* Activity ends here */

/* Dashboard start */
.backoffice-wrapper {
  margin: 1rem;
}

.dashboard-cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;
  justify-content: flex-start;
}

.dashboard-cards-wrapper > a,
.dashboard-cards-wrapper > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-link);
  padding: 1rem;
  background-color: var(--color-light-0);
  min-width: 100px;
  max-width: 235px;
  flex-grow: 1;
  text-align: center;
}

.dashboard-cards-wrapper span {
  display: inline-block;
}

.dashboard-cards-wrapper span.value {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

.dashboard-cards-wrapper span.text {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  padding: 1rem;
}

.dashboard-cards-wrapper span.description {
  margin-top: 0.5rem;
}

.dashboard-card-title,
.dashboard-card {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
}

.dashboard-card {
  border-bottom: 3px solid var(--color-primary);
  margin-bottom: 2rem;
}

.card-info-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-light-0);
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  width: 100%;
  gap: 1rem;
}

.card-info-item > .title {
  color: var(--color-light-3);
  padding-right: 0.5rem;
}

.card-info-item > .value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  text-align: right;
}

.card-info-item > .gap {
  gap: 0.5rem;
}

.card-info-item > .document {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-end;
}

.dashboard-title-small {
  font-size: 1rem;
}
/* Dashboard end */

/* Status starts here */
.article-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  color: var(--color-bg);
  gap: 0.25rem;
}

.status-draft {
  background-color: var(--color-text-light);
}

.status-deleted {
  background-color: var(--color-failure);
}

.status-published {
  background-color: var(--color-success);
}

.status-private {
  background-color: var(--color-cuaternary);
}
/* Status ends here */

/* Editor starts here */
.editor-title {
  margin-bottom: 0;
}

.editor-content {
  min-height: 250px;
  margin: 0 0 2rem;
  font-family: var(--font-title);
}

.editor-content p:first-child {
  margin-top: 0;
}

.editor-content p:last-child {
  margin-bottom: 0;
}

.page-content-wrapper {
  max-width: var(--content-max-width);
  margin: 2rem auto;
  padding: 0 1rem;
}

h1.page-content-title {
  margin-top: 0;
  margin-bottom: 2rem;
}

h2.page-content-subtitle {
  margin-top: 0;
  margin-bottom: 2rem;
}

.page-content-before {
  color: var(--color-light-3);
  font-size: 0.8rem;
}
/* Editor starts here */

/* Page header starts here */
.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-light-3);
  background-color: var(--color-light-0);
}

.page-header .header-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.page-header h3 {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  line-height: 1;
  font-size: 1rem;
}

.page-header .links {
  flex-grow: 0;
  flex-shrink: 1;
  text-align: right;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0;
}

.links {
  display: flex;
  flex-flow: row wrap;
  gap: 1.25rem;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  text-align: right;
  padding: 0;
}

.header-button-new {
  min-height: revert;
  padding: 0.3rem 0.5rem;
  width: auto;
  margin: 0;
  min-width: revert;
  font-weight: normal;
  line-height: 1;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  align-items: center;
}

.filter-container {
  border: 1px solid var(--color-light-2);
  padding: 0;
  margin: 1rem;
  position: relative;
}

.filter-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--color-light-2);
  padding: 0.5rem 1rem 0.25rem;
  margin: 0;
  border-bottom: 1px solid var(--color-light-3);
}

.filter-header h3 {
  padding: 0;
  margin: 0;
}

.filter-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}

.filter-form-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  gap: 2rem;
}

.filter-form-wrapper > div {
  margin: 0;
  flex-grow: 1;
  min-width: 250px;
  flex-shrink: 0;
}

.filter-button {
  width: auto;
  align-self: flex-end;
  min-width: 250px;
  flex-grow: 1;
}

.filter-by {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-light-3);
  margin: 1rem 0;
  background-color: var(--color-light-1);
}

.filter-by > .items {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
}
/* Page header ends here */

/* Main image starts here */
.main-image-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
}

.main-image-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: clip;
  position: relative;
}

.main-image-container-full {
  width: 100%;
  height: auto;
  min-height: 150px;
}

.main-image-container img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main-image-action {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--color-bg);
}

.main-image-button,
.main-image-button:hover,
.main-image-button:visited,
.main-image-button:focus,
.main-image-button:active {
  border: 1px solid var(--color-text);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: normal;
  color: var(--color-text);
  text-align: center;
  background-color: var(--color-bg);
}

.main-image-button-absolute {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.main-image-button-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.main-image-button-red {
  background-color: var(--color-failure) !important;
  color: var(--color-bg) !important;
  border: 1px solid var(--color-bg) !important;
}
/* Main image ends here */

/* Media upload style starts here */
.content-images {
  background-color: var(--color-text);
  color: var(--color-bg);
  padding: 1rem 0.5rem 4rem;
  min-height: 100vh;
}

.add-image-wrapper {
  height: 100%;
  overflow: auto;
  color: var(--color-bg);
  background-color: var(--color-text);
  padding: 1rem;
}

.add-image-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 4rem 1rem 1rem;
  position: fixed;
  z-index: 20;
  background-color: var(--color-text);
  top: 0;
  left: 0;
  right: 0;
}

#images-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  align-items: center;
  padding-top: 1rem;
  min-height: 250px;
}

#images-list .image-container {
  height: auto;
  width: 30%;
  min-width: 100px;
  max-width: 400px;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  padding: 0;
  aspect-ratio: 1/1;
}

#images-list .image-item {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#upload-media {
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#upload-media h1 {
  font-size: 1.4rem;
  line-height: 1;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.upload-media-control {
  flex-grow: 0;
}

.button-dark {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.input-file-label {
  background: var(--color-bg);
  border: 1px solid var(--color-text);
  color: var(--color-text);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.input-file-label:hover {
  background-color: #f2f2f2;
}

.image-wrapper {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--color-text);
  color: var(--color-bg);
  min-height: 250px;
  width: 100%;
}

.image-wrapper .image-number {
  margin-right: 2rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  font-family: monospace;
  color: var(--color-light-4);
}

.image-wrapper > .image-main {
  width: auto;
  min-width: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
}

.image-wrapper > .image-main img {
  width: auto;
  height: auto;
  max-height: 94vh;
  max-width: 100%;
}

.image-wrapper > .image-info {
  min-width: 250px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
}

.image-wrapper .image-info .image-caption {
  word-wrap: anywhere;
  padding-bottom: 2rem;
}

.image-wrapper .image-next-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: space-between;
}

.image-wrapper .image-next-wrapper a {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-bg);
}

.image-wrapper .image-delete {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-failure);
}

.image-wrapper .image-meta {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.image-wrapper .image-meta > div{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.3;
  font-size: 0.9rem;
}

.image-wrapper .image-meta .ellipsis {
  max-width: 300px;
  padding-top: 0.25rem;
  display: inline-block;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  scrollbar-width: none;
}

.image-wrapper .image-path {
  word-wrap: anywhere;
  font-family: monospace;
  font-size: 0.8rem;
}

.image-wrapper .image-appears-on {
  margin: 1rem 0 3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
}

.image-wrapper .image-appears-on a,
.image-wrapper .image-appears-on a:hover,
.image-wrapper .image-appears-on a:visited,
.image-wrapper .image-appears-on a:active
{
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  color: var(--color-bg);
  justify-content: space-between;
  align-items: center;
}

.image-wrapper .image-appears-on span {
  font-size: 0.9rem;
}

.image-wrapper .image-appears-on h3 {
  margin-bottom: 0;
}

.image-main-nav {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-main-nav a {
  display: block;
  width: 50%;
  height: 100%;
}

.media-load-more,
.media-load-more:active,
.media-load-more:hover,
.media-load-more:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: var(--color-bg);
  margin: 1rem 0;
  border: 1px solid var(--color-text);
}

#media-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding-top: 1rem;
}

#media-container .media-item {
  display: block;
  padding: 1rem;
  background-color: var(--color-light-0);
  border: 1px solid var(--color-link);
  flex-grow: 1;
  position: relative;
}

#media-container .media-item .media-info {
  color: var(--color-text-light);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: block;
}

#media-container .media-item .media-name {
  font-size: 1.1rem;
}

#media-container .media-item .media-id {
  color: var(--color-text-light);
  font-family: monospace;
  font-size: 0.9rem;
  float: right;
}

#media-container .media-item:hover {
  background-color: var(--color-bg);
}

/* Media upload style ends here */

/* Analytics style starts here */
.analytics-wrapper {
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.analytics-block {
  width: 40%;
  min-width: 300px;
  flex-grow: 1;
  background-color: var(--color-light-0);
  border: 1px solid var(--color-light-3);
  padding: 1rem;
}

.analytics-block .item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px dotted var(--color-light-2);
  word-break: break-all;
}

.analytics-block .break {
  word-break: break-all;
}

.analytics-block .no-break {
  white-space: nowrap;
}

.analytics-block h2 {
  margin: 0;
  padding: 0;
}

.analytics-header {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.analytics-header-left {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.analytics-controls-wrapper {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.analytics-controls:active,
.analytics-controls:focus,
.analytics-controls:visited,
.analytics-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.analytics-controls a:active,
.analytics-controls a:focus,
.analytics-controls a:visited,
.analytics-controls a {
  padding: 0.25rem 0.5rem;
}

.analytics-controls-option:active,
.analytics-controls-option:focus,
.analytics-controls-option:visited,
.analytics-controls-option {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-text);
  padding: 0.25rem 0.5rem;
}

.analytics-controls-options {
  position: absolute;
  right: 0;
  top: 40px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-bg);
  border: 1px solid var(--color-light-2);
  z-index: 10;
}

.analytics-controls-options a {
  color: var(--color-text);
  border-bottom: 1px solid var(--color-light-2);
  padding: 0.5rem 1rem;
}

.analytics-controls-options a:hover,
.analytics-controls a:hover,
.analytics-controls-option:hover {
  color: var(--color-text);
  background-color: var(--color-light-2);
}

.analytics-controls-event-type-options {
  z-index: 11;
}

.chart-title {
  font-size: 1rem;
  text-transform: lowercase;
}

.chart-color-01 {
  color: var(--color-chart-01);
}

.chart-color-02 {
  color: var(--color-chart-02);
}
/* Analytics style ends here */
/* Form two columns starts here */
.form-two-columns-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-content: stretch;
  justify-content: center;
}

.form-two-columns-wrapper > * {
  width: 100%;
  flex-grow: 1;
}
/* Form two columns ends here */

.main-image-button,
.main-image-button:hover,
.main-image-button:visited,
.main-image-button:focus,
.main-image-button:active {
  border: 1px solid var(--color-text);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: normal;
  color: var(--color-text);
  text-align: center;
  background-color: var(--color-bg);
}

.main-image-button-absolute {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.main-image-button-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.main-image-button-red {
  background-color: var(--color-failure) !important;
  color: var(--color-bg) !important;
  border: 1px solid var(--color-bg) !important;
}

/* Album starts here */
.media-caption-html,
.album-content-html {
  padding: 1rem;
  border: 1px dotted var(--color-light-3);
  margin-bottom: 0;
}

.media-caption-html {
  width: 70%;
  min-height: revert;
}

.album-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.album-card-item {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 10%;
  min-width: 180px;
  max-width: 400px;
}

.album-card-item .album-image {
  height: 200px;
  width: 100%;
  min-width: 100px;
  max-width: 400px;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.album-card-item .album-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 200px;
}

.album-card-item .album-card-content {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.album-card-item .album-title {
  margin: 0.25rem 0;
  font-size: 1rem;
  font-weight: normal;
}

.album-card-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.album-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.album-content {
  margin-bottom: 2rem;
}

.album-content p:first-of-type {
  margin-top: 0;
}

.album-content p:last-of-type {
  margin-bottom: 0;
}

.album-image {
  padding: 0;
  gap: 0.25rem;
  margin-bottom: 0;
}

.album-add-section {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.album-sections-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.section-sequence {
  font-size: 0.8rem;
  font-family: monospace;
  color: var(--color-text-light);
  max-width: 60px;
  margin: 0 !important;
  text-align: center;
}

.album-section-item {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-light-2);
  padding: 0 0 3rem;
  width: 100%;
}

.album-section-item:first-of-type {
  margin-top: 1rem;
}

.album-section-item:last-of-type {
  border: none;
}

.album-section-item-content {
  flex-grow: 1;
}

.album-section-item-content h3:first-of-type {
  margin: 0;
}

.album-section-item-content .section-subtitle-html {
  margin: 0.5rem 0;
  color: var(--color-light-5);
}

.album-section-item-content .section-content-html {
  color: var(--color-light-4);
}

.album-section-item-media-wrapper {
  margin-top: 1rem;
  flex-grow: 2;
}

.album-section-item-media-header {
  width: 100%;
  margin-bottom: 0.5rem;
}

.album-section-item-media {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.album-section-item-media .button {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  aspect-ratio: 1/1;
}

.album-section-media-container,
.album-section-item-media .button {
  width: 10%;
  min-width: 100px;
  max-width: 150px;
  flex: 1 1 10%;
  height: auto;
  position: relative;
}

.album-section-media-container figure {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  aspect-ratio: 1/1;
}

.album-section-media-container .media-item {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.album-section-media-container .album-section-image-delete {
  cursor: pointer;
}

.album-section-media-container .album-section-media-options {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2rem;
}

.album-section-media-container .media-caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--color-bg);
  cursor: pointer;
}

.album-section-media-container .media-caption p:first-of-type{
  margin-top: 0;
}

.album-section-media-container .media-caption p:last-of-type{
  margin-bottom: 0;
}

.album-section-main-image-container {
  height: 150px;
  width: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  aspect-ratio: 1/1;
  flex-grow: 0 !important;
}

.album-section-main-image-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.album-media-edit-container {
  width: 27%;
}

.album-media-loading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 140px;
  max-width: 200px;
  height: auto;
  min-height: 100px;
}

.album-section-item-edit-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.album-section-button-container-js {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.album-section-edit-js {
  cursor: pointer;
}

.album-content-editable {
  width: 100%;
  border: 1px solid var(--color-input-border);
  padding: calc(0.5rem - 1px) 0.75rem;
  font-family: var(--font-paragraph);
  font-size: 1rem;
  margin: 1rem auto;
  color: var(--color-input-text);
  background-color: var(--color-input-bg);
  min-height: var(--input-height);
}

.album-section-button {
  cursor: pointer;
  display: inline-block;
  white-space: normal;
  text-align: center;
  appearance: none;
  width: auto;
  padding: calc(0.5rem - 1px) 0.75rem;
  min-height: revert;
  margin: 0;
}

.item-draggable {
  cursor: grab;
}

.media-item-grabbing {
  cursor: grabbing;
  padding: 0.25rem;
}

.media-item-grabbing-over {
  padding: 0.25rem;
  margin: 0;
}

.media-item-grabbing {
  padding: 0.25rem;
  margin: 0;
}

.drop-loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-media-add {
  border: 1px dashed var(--color-text);
  color: var(--color-text) !important;
  background-color: var(--color-bg);
}

.button-media-add:hover {
  border: 1px solid var(--color-text);
  color: var(--color-text) !important;
  background-color: var(--color-bg);
}
/* Album ends here */

.modal-header-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.modal-header-title {
  font-weight: bold;
}

.width-100 { width: 100%;}
.width-40 { width: 40%; }
.text-small { font-size: 0.8rem; }

@media screen and (min-width: 800px) {
  .page-header {
    padding: 0.5rem 1rem;
  }

  .page-header h3 {
    font-size: revert;
  }

  .slug-modal .modal-inner,
  .web-content-modal .modal-inner,
  .tag-modal .modal-inner {
    width: auto;
    min-width: 50%;
    max-width: var(--content-max-width);
  }

  .image-wrapper {
    flex-flow: row nowrap;
  }

  .content-images {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .media-caption-html {
    width: 500px !important;
  }

  #images-list .image-container {
    width: 200px;
  }

  .album-section-item {
    flex-flow: row wrap;
  }

  .album-section-item-content {
    width: 25%;
  }

  .album-section-item-media-wrapper {
    margin-top: 0;
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .page-header {
    padding: 0.5rem 1rem;
  }

  .page-header h3 {
    font-size: revert;
  }

  .activity-wrapper {
    max-width: 35%;
    flex-grow: 1;
  }

  .album-section-item-content {
    max-width: 300px;
  }

  .dashboard-column-narrow-width {
    max-width: 300px;
  }

  .form-content-wrapper {
    width: 62%;
    flex-grow: 3;
    gap: 1rem;
  }

  .form-two-columns-wrapper {
    gap: 1rem;
  }

  .form-two-columns-wrapper > * {
    width: 40%;
  }

  #images-list .image-container {
    width: 200px;
  }

  .album-section-item {
    flex-flow: row wrap;
  }

  .album-section-item-content {
    width: 25%;
  }

  .album-section-item-media-wrapper {
    margin-top: 0;
    width: 50%;
  }
}
