:root {
  --font-title: Nunito Sans,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  --font-paragraph: Nunito Sans,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.header-container {
  max-width: revert;
}

.header-backoffice {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black);
}

.search-icon svg {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

/* Table starts here */
.table {
  width: 100%;
}

.table-row {
  border-collapse: collapse;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 1rem 0.5rem;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--color-grey-200);
}

.table-row.header {
  background-color: var(--color-primary) !important;
  border-bottom: 0 solid var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.table-row:last-of-type {
  border: none;
}

.table-row.header svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.table-item {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.table-item-flex-column {
  flex-flow: column wrap;
  align-items: flex-start;
}

.number {
  font-family: monospace;
  font-size: 1rem;
  color: var(--color-grey-700);
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

.number svg {
  fill: var(--color-grey-700);
  stroke: var(--color-grey-700);
  width: 25px;
  max-width: revert;
}
/* Table ends here */
/* Activity starts here */
.activity-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.activity-container .item {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-grey-200);
  padding-bottom: 1rem;
}

.activity-container .header svg {
  width: 24px;
}

.metadata {
  width: 100%;
  flex-grow: 1;
  color: var(--color-grey-600);
  font-size: 0.8rem;
}

.metadata svg {
  width: 17px;
  fill: var(--color-grey-600);
  stroke: var(--color-grey-600);
}

.activity-container .title {
  font-weight: 500;
}

.activity-container .comment {
  width: 100%;
  font-size: 0.9rem;
}
/* Activity ends here */
/* Dashboard start */
.backoffice-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 0.5rem;
  width: 100%;
}

.backoffice-child-outer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  flex-basis: 100%;
  flex-grow: 1;
}

.backoffice-child-container {
  flex-basis: 100%;
  background-color: white;
  padding: 0;
}

.backoffice-child-header {
  padding: 0.5rem 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

.backoffice-child-header svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.backoffice-child-header a,
.backoffice-child-header a:visited,
.backoffice-child-header a:active,
.backoffice-child-header a:focus,
.backoffice-child-header a:hover {
  color: var(--color-white);
}

.backoffice-child-container-inner {
  padding: 1rem;
}

.block-title {
  font-weight: 700;
}

.dashboard-count {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  flex-grow: 1;
  border: 1px solid var(--color-black);
  padding: 1rem;
}

.dashboard-number,
.dashboard-number:hover,
.dashboard-number:visited,
.dashboard-number:active,
.dashboard-number:focus {
  border: 1px solid var(--color-grey-200);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  gap: 0.75rem !important;
  font-weight: 500;
}

.dashboard-card-title,
.dashboard-card-title:hover,
.dashboard-card-title:visited,
.dashboard-card-title:active,
.dashboard-card-title:focus {
  color: var(--color-black);
  font-weight: 500;
  font-size: 1.1rem;
}

.dashboard-cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 1.5rem;
  justify-content: flex-start;
}

.dashboard-cards-wrapper a,
.dashboard-cards-wrapper>div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-black);
}

.dashboard-cards-wrapper > a:hover {
  color: var(--color-black-hover);
}


.dashboard-cards-wrapper>div {
  border: 1px solid var(--color-grey-500);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.dashboard-cards-wrapper span.value {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.dashboard-cards-wrapper span.text {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  padding: 1rem;
}

.card-info-header {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.card-info-header .title {
  font-weight: 700;
}

.card-info-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-050);
  margin: 0;
  padding: 0.75rem 0;
  width: 100%;
  gap: 0.5rem 1rem;
}

.card-info-item:first-of-type {
  padding-top: 0;
}

.card-info-item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.card-info-item .title {
  color: var(--color-grey-700);
  padding-right: 0.5rem;
}

.card-info-item .value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  text-align: right;
}

.card-info-item .value p:first-of-type {
  margin-top: 0;
}

.card-info-item .value p:last-of-type {
  margin-bottom: 0;
}

.card-info-item .document {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-end;
}

.card-info-item .dropdown-container > label {
  padding-right: 0;
}

.dashboard-title-small {
  font-size: 1rem;
}
/* Dashboard end */

/* Status starts here */
.article-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0.25rem;
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  line-height: 1;
  border: 1px dashed var(--color-grey-500);
}

.status-draft,
.status-draft:hover {
  background-color: var(--color-grey-200) !important;
}

.status-deleted,
.status-deleted:hover {
  background-color: var(--color-failure) !important;
  color: var(--color-white) !important;
}

.status-published,
.status-published:hover {
  background-color: var(--color-success) !important;
  color: var(--color-white) !important;
}

.status-private,
.status-private:hover {
  background-color: var(--color-private);
  color: var(--color-white) !important;
}

.status-disabled,
.status-disabled:hover,
.status-warning,
.status-warning:hover {
  background-color: var(--color-warning) !important;
  color: var(--color-black) !important;
}

.status-deleted svg,
.status-published svg,
.status-private svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}
/* Status ends here */

/* Editor starts here */
.editor-title,
.editor-subtitle {
  color: var(--color-input-text);
  background-color: var(--color-input-bg);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-input-border);
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 700;
}

.editor-subtitle {
  font-size: 1.2rem;
}

.editor-content figure {
  margin: 0;
}

.page-content-wrapper {
  max-width: var(--content-max-width-narrow);
  margin: 2rem auto;
  padding: 0;
}

.page-content-before {
  color: var(--color-grey-400);
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 1rem;
}

#page-content-main-image-container {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: var(--color-grey-050);
}

#page-content-main-image-container .media-item {
  width: 100%;
}

.page-content-wrapper .collection-media-container .media-caption {
  display: none;
}

#page-content-main-image-container .button-media-add {
  border: 1px solid var(--color-black);
}

.content-language-wrapper {
  position: relative;
}

.content-language-item {
  display: none;
}

.content-language-active {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.content-flag-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.content-flag-wrapper .page-content-flag-item {
  border-bottom: 3px solid transparent;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.content-flag-wrapper .page-content-flag-item:hover,
.content-flag-wrapper .flag-active {
  border-bottom: 3px solid var(--color-black);
}

.content-flag-wrapper .page-content-flag-item:hover {
  background-color: var(--color-primary-050);
}

.page-content-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.page-content-container a {
  display: inline-block;
  border: 1px dashed var(--color-primary-100);
  padding: 0.25rem 0.5rem;
  color: var(--color-black);
}

.page-content-container a:hover {
  border: 1px solid var(--color-black-hover);
  color: var(--color-black-hover);
}

.page-content-container a.background {
  font-weight: 700;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-black);
}

.collection-main-media-delete-js {
  background-color: var(--color-white);
  cursor: pointer;
}

.image-container .image-container-delete {
  background-color: var(--color-white);
  padding: 0.1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1;
}

.image-container .image-container-delete svg {
  width: 15px;
}

.article-save-js {
  cursor: pointer;
}

.main-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: flex-start;
  position: relative;
  max-width: revert;
  margin: revert;
}

.main-inner {
  flex-grow: 1;
  max-width: var(--content-max-width-narrow);
  margin: 2rem auto;
}

.side-nav-wrapper {
  background: var(--color-white);
  border-left: 1px solid var(--color-grey-200);
  border-bottom: 1px solid var(--color-grey-200);
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 0;
  max-width: 300px;
  position: sticky;
  top: 0;
  padding: 0;
}

.side-nav-wrapper>* {
  border-bottom: 1px solid var(--color-grey-200);
  padding: 1rem;
}

.side-nav-wrapper>*:last-of-type {
  border-bottom: none;
}

.editor-article-path {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  word-break: break-word;
}

.editor-article-info {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
/* Editor ends here */

/* Page header starts here */
.page-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border-bottom: 1px solid var(--color-black);
}

.page-header svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.page-header .number {
  color: var(--color-white);
  font-size: 0.9rem;
}

.page-header a {
  color: var(--color-white);
}

.page-header .links {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: right;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0;
}

.links {
  display: flex;
  flex-flow: row wrap;
  gap: 1.25rem;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  text-align: right;
  padding: 0;
}

.filter-container {
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius);
  position: relative;
  width: 100%;
}

.filter-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--color-black);
  padding: 0.5rem 1rem;
  margin: 0;
  border-bottom: none;
  color: var(--color-white);
}

.filter-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}

.filter-container .filter-header svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.filter-form-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  gap: 1rem;
}

.filter-form-wrapper>div {
  margin: 0;
  flex-grow: 1;
  min-width: 250px;
  flex-shrink: 0;
}

.filter-button,
.filter-button:active,
.filter-button:focus,
.filter-button:visited,
.filter-button:hover {
  width: auto;
  align-self: flex-end;
  min-width: 250px;
  flex-grow: 1;
  background-color: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  white-space: normal;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  min-height: var(--input-height);
  padding: 1rem;
}

.filter-button:hover {
  background-color: var(--color-black-hover);
}

.filter-by {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-grey-400);
  border-radius: var(--border-radius);
  margin: 0;
  width: 100%;
}

.filter-by>.items {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
}

.filter-by>.items span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
}

.link-add,
.filter-close,
.filter-open {
  cursor: pointer;
}
/* Page header ends here */

/* Main image starts here */
.main-image-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  min-height: 100px;
}

.main-image-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 50px;
  overflow: clip;
  position: relative;
  background-color: var(--color-grey-100);
}

.main-image-container-full {
  width: 100%;
  height: auto;
  min-height: 150px;
}

.main-image-container img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main-image-button,
.main-image-button:hover,
.main-image-button:visited,
.main-image-button:focus,
.main-image-button:active {
  border: 1px solid var(--color-black);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: normal;
  color: var(--color-black);
  text-align: center;
  background-color: var(--color-white);
}

.main-image-button-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.main-image-button-red {
  background-color: var(--color-failure) !important;
  color: var(--color-white) !important;
  border: 1px solid var(--color-white) !important;
  border-radius: var(--border-radius);
}

.main-image-button-red svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}
/* Main image ends here */

/* Media upload style starts here */
.add-image-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 1rem;
}

.add-image-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem 1rem;
}

.add-image-header h2 {
  font-size: 1.2rem;
}

.media-list-page,
.media-list-highlight,
.media-list-main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 250px;
}

.media-list-highlight {
  min-height: revert;
}

#images-list .image-container,
#images-list .image-container-shadow,
#images-list .media-load-more {
  height: auto;
  width: 33.33%;
  flex-grow: 0;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0.125rem;
  aspect-ratio: 1/1;
}

#images-list .image-container,
#images-list .media-load-more {
  cursor: pointer;
}

#images-list .media-item {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.media-list-original .media-item {
  object-fit: contain !important;
}

.media-list-zoom .image-container {
  width: 50% !important;
}

.input-file-label {
  background: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}

.input-file-label:hover {
  background-color: var(--color-black-hover);
}

.input-file-label svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.modal-media {
  align-items: flex-start;
}

.modal-media .modal-inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  max-width: revert;
  max-height: revert;
  height: 100vh;
  background-color: transparent;
}

.modal-media-close-wrapper svg {
  fill: var(--color-grey-500);
  stroke: var(--color-grey-500);
}

.image-wrapper {
  display: flex;
  flex-flow: row wrap;
  color: var(--color-white);
  min-height: 250px;
  width: 100%;
}

.image-wrapper .image-number {
  font-family: monospace;
  color: var(--color-grey-500);
}

.image-wrapper>.image-main {
  width: auto;
  min-width: 300px;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.image-wrapper>.image-main img {
  width: auto;
  height: auto;
  max-height: 94vh;
  max-width: 100%;
}

.image-wrapper>.image-info {
  min-width: 250px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  padding: 0;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
}

.image-wrapper .image-info-visible {
  display: flex;
}

.image-wrapper .image-summary {
  padding: 0.5rem;
}

.image-wrapper .image-summary svg {
  fill: var(--color-grey-600);
  stroke: var(--color-grey-600);
}

.image-wrapper .image-info-data {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
}

.image-wrapper .image-info-data svg {
  fill: var(--color-white);
  stroke: var(--color-white);
  flex-shrink: 0;
}

.image-wrapper .image-info .image-caption {
  word-wrap: anywhere;
}

.image-next-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-next-wrapper span {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.image-next-wrapper svg {
  fill: var(--color-grey-600);
  stroke: var(--color-grey-600);
}

.image-wrapper .image-delete {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-white);
}

.image-wrapper .image-delete svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.image-wrapper .image-meta {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.image-wrapper .image-meta>div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.3;
  font-size: 0.9rem;
}

.image-wrapper .image-meta .ellipsis {
  max-width: 300px;
  padding-top: 0.25rem;
  display: inline-block;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  scrollbar-width: none;
}

.image-wrapper .image-path {
  word-wrap: anywhere;
  font-family: monospace;
  font-size: 0.8rem;
}

.image-wrapper .image-appears-on {
  margin: 1rem 0 3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
}

.image-wrapper .image-appears-on a,
.image-wrapper .image-appears-on a:hover,
.image-wrapper .image-appears-on a:visited,
.image-wrapper .image-appears-on a:active {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  color: var(--color-white);
  justify-content: space-between;
  align-items: center;
}

.image-wrapper .image-appears-on span {
  font-size: 0.9rem;
}

.image-wrapper .image-appears-on h3 {
  margin-bottom: 0;
}

.image-main-nav {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-main-nav a,
.image-main-nav a:hover,
.image-main-nav a:focus,
.image-main-nav a:visited,
.image-main-nav a:active {
  display: block;
  width: 50%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  outline: none;
}

.media-load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  padding: 1rem;
  border: 1px dashed var(--color-black);
  aspect-ratio: 1/1;
  height: auto;
  width: 30%;
  min-width: 100px;
  max-width: 400px;
  flex-grow: 1;
}

.media-load-more:hover {
  border: 1px solid var(--color-black);
}

.media-load-more-file {
  aspect-ratio: revert;
  width: 100%;
  max-width: revert;
}

#media-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding-top: 1rem;
  width: 100%;
  align-items: stretch;
}

#media-container .file-container {
  flex-grow: 1;
  position: relative;
  width: 20%;
  min-width: 300px;
}

#media-container .media-item {
  display: block;
  padding: 1rem;
  background-color: var(--color-grey-050);
  border: 1px solid var(--color-link);
  flex-grow: 1;
  position: relative;
}

#media-container .media-info {
  color: var(--color-grey-700);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
}

#media-container .media-info svg {
  fill: var(--color-grey-700);
  stroke: var(--color-grey-700);
}

#media-container .media-header {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

#media-container .media-name {
  word-break: break-word;
}

#media-container .media-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
}

#media-container .media-item:hover {
  background-color: var(--color-white);
}

.media-page-wrapper label {
  font-weight: 400;
}

.media-page-wrapper select {
  border: none;
  padding: 0 1.75rem 0 0.5rem;
  background-position-y: 10px;
  background-image: url("/img/svg/caret-down.svg");
  cursor: pointer;
  background-color: transparent;
  text-align: right;
}

.page-header .media-page-wrapper label {
  color: var(--color-white);
}

.page-header .media-page-wrapper select {
  color: var(--color-white);
  padding: 0 1.75rem 0 0.5rem;
  background-position-y: 0px;
  background-image: url("/img/svg/caret-down-white.svg");
  min-height: revert;
}
/* Media upload style ends here */

/* Analytics style starts here */
.analytics-wrapper {
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.analytics-block {
  width: 40%;
  min-width: 300px;
  flex-grow: 1;
  background-color: var(--color-grey-050);
  border: 1px solid var(--color-grey-400);
  padding: 1rem;
}

.analytics-block .item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px dotted var(--color-grey-200);
  word-break: break-all;
}

.analytics-block .break {
  word-break: break-all;
}

.analytics-block .no-break {
  white-space: nowrap;
}

.analytics-block h2 {
  margin: 0;
  padding: 0;
}

.analytics-header {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.analytics-header-left {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.analytics-controls-wrapper {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.analytics-controls:active,
.analytics-controls:focus,
.analytics-controls:visited,
.analytics-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.analytics-controls a:active,
.analytics-controls a:focus,
.analytics-controls a:visited,
.analytics-controls a {
  padding: 0.25rem 0.5rem;
}

.analytics-controls-option:active,
.analytics-controls-option:focus,
.analytics-controls-option:visited,
.analytics-controls-option {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-black);
  padding: 0.25rem 0.5rem;
}

.analytics-controls-options {
  position: absolute;
  right: 0;
  top: 40px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-200);
  z-index: 10;
}

.analytics-controls-options a {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-grey-200);
  padding: 0.5rem 1rem;
}

.analytics-controls-options a:hover,
.analytics-controls a:hover,
.analytics-controls-option:hover {
  color: var(--color-black);
  background-color: var(--color-grey-200);
}

.analytics-controls-event-type-options {
  z-index: 11;
}

.chart-title {
  font-size: 1rem;
  text-transform: lowercase;
}

.chart-color-01 {
  color: var(--color-chart-01);
}

.chart-color-02 {
  color: var(--color-chart-02);
}

.analytics-event-js,
.analytics-close-js,
.cursor-pointer {
  cursor: pointer;
}
/* Analytics style ends here */
/* Form two columns starts here */
.form-two-columns-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-content: stretch;
  justify-content: center;
  width: 100%;
}

.form-two-columns-wrapper>* {
  width: 100%;
  flex-grow: 1;
}
/* Form two columns ends here */
/* Album starts here */
.media-caption-html,
.album-content-html {
  padding: 1rem;
  border: 1px dotted var(--color-grey-400);
  margin-bottom: 0;
}

.media-caption-html {
  width: 70%;
  min-height: revert;
}

.album-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.album-card-item {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 10%;
  min-width: 180px;
  max-width: 400px;
}

.album-card-item .album-image {
  height: 200px;
  width: 100%;
  min-width: 100px;
  max-width: 400px;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.album-card-item .album-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 200px;
}

.album-card-item .album-card-content {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.album-card-item .album-title {
  margin: 0.25rem 0;
  font-size: 1rem;
  font-weight: normal;
}

.album-card-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.album-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.album-content {
  margin-bottom: 2rem;
}

.album-content p:first-of-type {
  margin-top: 0;
}

.album-content p:last-of-type {
  margin-bottom: 0;
}

.album-image {
  padding: 0;
  gap: 0.25rem;
  margin-bottom: 0;
}

.album-add-collection {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.collections-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.collection-sequence {
  font-size: 0.9rem;
  font-family: monospace;
  color: var(--color-grey-400);
  max-width: 60px;
  margin-top: 0.5rem;
  display: inline-block;
}

.collection-label {
  margin: 1rem 0 0;
  font-size: 0.9rem;
  color: var(--color-grey-400);
}

.collection-container {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  padding: 0 0 1rem;
}

.collection-container:first-of-type {
  margin-top: 1rem;
}

.collection-container:last-of-type {
  border: none;
}

.collection-item-content {
  flex-grow: 1;
}

.collection-item-content h3:first-of-type {
  margin: 0;
}

.collection-item-content .collection-subtitle-html {
  margin: 0.5rem 0;
  color: var(--color-grey-600);
}

.collection-item-content .collection-content-html {
  color: var(--color-grey-500);
}

.collection-item-media-wrapper {
  margin-top: 1rem;
  flex-grow: 2;
}

.collection-item-media-header {
  width: 100%;
  margin-bottom: 0.5rem;
}

.collection-item-media {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.collection-item-media .button-media-add {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  aspect-ratio: 1/1;
}

.collection-media-container,
.collection-item-media .button-media-add {
  width: 10%;
  min-width: 100px;
  max-width: 150px;
  flex: 1 1 10%;
  height: auto;
  position: relative;
}

.collection-media-container figure {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  aspect-ratio: 1/1;
}

.collection-media-container .media-item {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-grey-200);
}

.collection-media-container .collection-media-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.collection-media-container .collection-media-delete-js {
  cursor: pointer;
  background-color: var(--color-white);
}


.collection-main-media-options .media-caption,
.collection-media-container .media-caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--color-black);
  cursor: pointer;
  background-color: var(--color-white);
  padding: 0 0.2rem;
}

.collection-media-container .media-caption p:first-of-type {
  margin-top: 0;
}

.collection-media-container .media-caption p:last-of-type {
  margin-bottom: 0;
}

.collection-main-image-container {
  height: 150px;
  width: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  aspect-ratio: 1/1;
  flex-grow: 0 !important;
  background-color: var(--color-grey-100);
}

.collection-main-image-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.collection-main-media-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.collection-media-edit-info {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: var(--color-grey-400);
}

.album-media-edit-container {
  width: 27%;
}

.collection-item-edit-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.collection-button-container-js {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.collection-edit-js {
  cursor: pointer;
}

.album-content-editable {
  border: 1px solid var(--color-input-border);
  padding: calc(0.5rem - 1px) 0.75rem;
  margin: 1rem auto;
  color: var(--color-input-text);
  background-color: var(--color-input-bg);
}

.collection-button {
  cursor: pointer;
  display: inline-block;
  white-space: normal;
  text-align: center;
  appearance: none;
  width: auto;
  padding: calc(0.5rem - 1px) 0.75rem;
  min-height: revert;
  margin: 0;
}

.item-draggable {
  cursor: grab;
}

.media-item-grabbing {
  cursor: grabbing;
  padding: 0.25rem;
}

.media-item-grabbing-over {
  padding: 0.25rem;
  margin: 0;
}

.media-item-grabbing {
  padding: 0.25rem;
  margin: 0;
}

.button-media-add,
.button-media-add:active,
.button-media-add:focus,
.button-media-add:visited {
  border: 1px dashed var(--color-black);
  color: var(--color-black);
  background-color: var(--color-white);
}

.button-media-add:hover {
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: var(--color-white);
}
/* Album ends here */

.modal-header-black {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem;
}

.modal-header-black svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.modal-header-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.modal-header-title {
  font-weight: bold;
}

.header-right {
  flex-flow: row-reverse nowrap;
}

.search-result-container {
  top: 82px;
}

.mail-receiver-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}

.mail-receiver-content {
  display: flex;
  flex-flow: column nowrap;
}

.mail-receiver-name {
  font-weight: 550;
}

.mail-receiver-email {
  font-size: 0.9rem;
}

.page-content-draggable-container {
  cursor: grab;
}

.page-content-droppable {
  outline: 1px dashed var(--color-grey-300);
  background-color: var(--color-grey-100);
  padding: 0.8rem 1rem !important;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid transparent;
}

.page-content-grabbing {
  opacity: 0.5;
}

.page-content-grabbing-over {
  outline: 2px solid var(--color-grey-900);
  padding: 0.8rem 1rem !important;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid transparent;
}

@keyframes loaderProgressBar {
  50% {
    background-position: right
  }
}

@media screen and (min-width: 800px) {
  .page-header {
    padding: 0.5rem 1rem;
  }

  .slug-modal .modal-inner,
  .web-content-modal .modal-inner,
  .tag-modal .modal-inner {
    width: auto;
    min-width: 50%;
    max-width: var(--content-max-width);
  }

  .modal-media {
    align-items: center;
  }

  .modal-media .modal-inner {
    height: auto;
  }

  .image-wrapper {
    flex-flow: row nowrap;
  }

  .image-wrapper .image-info-data {
    padding: 1rem;
  }

  .image-wrapper .image-summary {
    padding: 0 1rem;
  }

  .image-wrapper .image-summary svg {
    width: 25px;
  }

  .image-wrapper .image-next-wrapper {
    padding: 1rem;
  }

  .media-caption-html {
    width: 500px !important;
  }

  .collection-container {
    flex-flow: row wrap;
  }

  .collection-item-content {
    width: 35%;
  }

  .collection-item-media-wrapper {
    margin-top: 0;
    width: 50%;
  }

  .table-row {
    padding: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .page-header {
    padding: 0.5rem 1rem;
  }

  .backoffice-wrapper {
    padding: 1rem;
  }

  .backoffice-child-outer {
    flex-basis: 40%;
  }

  .backoffice-child-container {
    flex-basis: 40%;
    flex-grow: 1;
    padding: 0;
  }

  .backoffice-child-no-header {
    border-top: 1px solid var(--color-grey-200);
  }

  .backoffice-child-container-inner {
    padding: 1rem;
    border-right: 1px solid var(--color-grey-200);
    border-bottom: 1px solid var(--color-grey-200);
    border-left: 1px solid var(--color-grey-200);
  }

  .collection-item-content {
    max-width: 500px;
  }

  .form-content-wrapper {
    width: 62%;
    flex-grow: 3;
    gap: 1rem;
  }

  .form-two-columns-wrapper {
    gap: 1rem;
  }

  .form-two-columns-wrapper>* {
    width: 40%;
  }

  #images-list .image-container,
  #images-list .image-container-shadow,
  #images-list .media-load-more {
    width: 10%;
  }

  .media-list-zoom .image-container {
    width: 25% !important;
  }

  .collection-container {
    flex-flow: row wrap;
  }

  .collection-item-content {
    width: 35%;
  }

  .collection-item-media-wrapper {
    margin-top: 0;
    width: 50%;
  }

  .table-row {
    padding: 1rem;
  }
}
