.pell-content {
  box-sizing: border-box;
  outline: 0;
  overflow-y: auto;
  font-family: var(--font-paragraph);
  height: auto;
  padding: 0 1rem;
  min-height: 150px;
  border: 1px solid var(--light-bg-color-3);
}

.pell-content h1, .pell-content h2 {
  font-family: var(--font-h1-title);
}

.pell-content img {
  max-width: 100%;
  height: auto;
}

.pell-content:focus {
  border: 1px solid var(--standard-color);
}

.pell-actionbar{
  border: 1px solid var(--light-bg-color-3);
  border-bottom: none;
  display: flex;
  margin-top: 1rem;
}

.pell-actionbar-right,
.pell-actionbar-left {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.pell-actionbar-right {
  justify-content: flex-end;
}

.pell-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: auto;
  outline: 0;
  width: auto;
  margin: 0;
  font-size: 1rem;
  padding: 0.35rem 0.5rem;
  min-height: initial;
  min-width: 35px;
}

.pell-button:hover,
.pell-button-selected {
  background-color: #f0f0f0;
}
