.header-main {
  background: var(--color-text);
  font-family: var(--font-paragraph);
  position: relative;
  z-index: 200;
  width: 100%;
}

.logo,
.logo:hover,
.logo:active,
.logo:visited,
.logo:focus {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  letter-spacing: 0;
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
  max-width: 400px;
  min-width: 175px;
  min-height: 30px;
  height: auto;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.logo img {
  height: auto;
  width: auto;
  max-width: 140px;
  max-height: 45px;
}

.logo.white {
  background: var(--color-bg);
  color: var(--color-text);
}

.logo-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.content-onboarding {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.content-onboarding-left {
  max-width: 600px;
  padding: 2rem 5%;
  margin: 0 auto;
}

.header-navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--color-text);
  background: var(--color-bg);
  display: none;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  z-index: 299;
}

.header-navbar-ul {
  margin: 0;
  padding: 0 0 0.5rem 0;
  list-style: none;
}

.nav-dropdown-item,
.nav-dropdown-item:visited,
.nav-dropdown-item:hover,
.nav-dropdown-item:active,
.nav-dropdown-item:focus {
  color: var(--color-text);
  text-decoration: none;
  padding: 1em;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.nav-dropdown-item:hover {
  text-decoration: none;
  background-color: var(--color-text-hover);
}

.mobile-nav {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.mobile-nav-label,
.mobile-nav-label:hover,
.mobile-nav-label:visited,
.mobile-nav-label:focus,
.mobile-nav-label:active {
  height: auto;
  max-width: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.mobile-nav-label {
  padding: 0.75rem 0;
}

.mobile-nav-label span,
.mobile-nav-label span::before,
.mobile-nav-label span::after {
  display: block;
  background-color: var(--color-text);
  height: 3px;
  width: 30px;
  border-radius: 0;
  position: relative;
}

.mobile-nav-label span::before,
.mobile-nav-label span::after {
  content: '';
  position: absolute;
}

.mobile-nav-label span::before {
  bottom: 9px;
}

.mobile-nav-label span::after {
  top: 9px;
}

.mobile-nav:checked ~ .header-navbar {
  display: block;
}

.mobile-nav ~ .mobile-nav-label {
  transition: rotate 0.25s ease;
}

.mobile-nav:checked ~ .mobile-nav-label {
  rotate: 90deg;
  transition: rotate 0.25s ease;
}

.nav-dropdown-menu-wrapper {
  position: relative;
}

.nav-dropdown-menu {
  display: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  z-index: 299;
}

.nav-dropdown-toggle {
  display: none;
}

.nav-dropdown-toggle-label {
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0 !important;
}

.nav-dropdown-toggle-label span {
  word-wrap: normal;
}

.nav-dropdown-toggle-label svg {
  width: 20px;
  height: auto;
  fill: var(--color-text);
  stroke: var(--color-text);
}

.nav-dropdown-menu {
  display: none;
  position: relative;
  text-align: left;
  list-style: none;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

.nav-dropdown-menu li {
  display: block;
}

.nav-dropdown-menu > li > a {
  padding-left: 2rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}

.nav-dropdown-menu a {
  display: block;
  padding: 1rem;
  width: 100%;
  min-width: 180px;
  color: var(--color-bg);
}

.nav-dropdown-menu a svg {
  width: 20px;
  height: auto;
  vertical-align: middle;
  fill: var(--color-text);
  stroke: var(--color-text);
}

.nav-dropdown-menu a,
.nav-dropdown-menu a:active,
.nav-dropdown-menu a:focus,
.nav-dropdown-menu a:visited {
  color: var(--color-text);
}

.nav-dropdown-menu a:hover {
  background-color: var(--color-text-hover);
  color: var(--color-text);
}

.nav-dropdown-toggle:checked ~ .nav-dropdown-menu {
  display: block;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0.5rem;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.header-container-sticky {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 302;
}

.header-right {
  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

/* Search starts here */
.search-fullscreen-shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 299;
}

.form-search {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1rem 0.5rem;
  top: 0;
  background: var(--color-bg);
  z-index: 302;
}

.form-search-input-wrapper,
.form-search-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}

.form-search-input-wrapper svg,
.form-search-wrapper svg {
  max-width: revert;
  max-height: revert;
  width: 30px;
  cursor: pointer;
}

.form-search-input-wrapper {
  border: 1px solid var(--color-primary-700);
  padding-left: 1rem;
  flex-grow: 1;
}

.header-search {
  min-height: revert;
  max-height: 40px;
  font-weight: 500;
  border: none;
  color: var(--color-primary-900);
  background-color: var(--color-bg);
  width: 100%;
  max-width: revert;
  padding: 1.5rem 0.5rem;
}

.header-search::placeholder {
  color: var(--color-primary-800);
}

.search-result-header {
  padding: 0.35rem 0.5rem;
  font-size: 0.9rem;
}

.search-result-container {
  position: absolute;
  top: 112px;
  left: 0;
  right: 0;
  min-height: 50px;
  width: 100%;
  min-width: 200px;
  max-width: 100%;
  background-color: transparent;
  z-index: 300;
  padding: 0 0.5rem;
  overflow-y: auto;
}

.search-result-loading {
  position: absolute;
  left: 38px;
  background-color: var(--color-bg);
  width: 40px;
  height: 40px;
  z-index: 303;
}

.search-result-header {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding: 0.5rem;
  background-color: var(--color-primary-700);
  color: var(--color-bg);
}

.search-result-header:first-of-type {
  margin-top: 0;
}

.search-result-item {
  padding: 0.75rem;
  border-bottom: 1px solid var(--color-primary-700);
  background-color: var(--color-bg);
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.search-result-item:last-of-type {
  border-bottom: none;
}

.search-result-item-active {
  background-color: var(--color-primary-100);
}

.search-result-item:hover {
  background-color: var(--color-primary-050);
}

.search-result-media {
  height: auto;
  width: 40px;
  padding: 0;
  margin: 0;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  max-height: 50px;
}

.search-result-media img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-result-title {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-primary-700);
}

.search-result-subtitle {
  font-size: 0.8rem;
  color: var(--color-text);
}

.search-close-js,
.search-action-js {
  cursor: pointer;
}

.search-icon svg {
  width: 30px;
  max-width: revert;
  max-height: revert;
}

.search-icon-input svg {
  fill: var(--color-primary-800);
}
/* Search ends here */

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .logo {
    flex-grow: 0;
  }

  .logo-wrapper {
    margin: 0;
  }

  .header-navbar {
    position: relative;
    text-align: left;
    background: none;
    top: initial;
    left: initial;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    width: auto;
  }

  .header-navbar-ul {
    display: flex;
    padding-bottom: 0;
  }

  .header-navbar-ul li {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .nav-item,
  .nav-item:visited,
  .nav-item:hover,
  .nav-item:active,
  .nav-item:focus {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .nav-button,
  .nav-button:visited,
  .nav-button:active,
  .nav-button:focus {
    border: 1px solid var(--color-bg);
  }

  .nav-button:hover {
    border: 1px solid var(--color-bg);
    background-color: var(--color-text-hover);
    text-decoration: none;
  }

  .user-nav-menu {
    position: absolute;
    right: 0;
    top: 58px;
    padding: 0.5rem;
  }

  .user-nav-menu a {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .mobile-nav-label {
    display: none;
  }

  .nav-dropdown-menu {
    position: absolute;
    right: 0;
    top: 46px;
  }

  .nav-dropdown-menu a {
    padding: 0.75rem;
  }

  .nav-dropdown-menu > li > a {
    padding-left: 1rem;
  }

  .nav-dropdown-item,
  .nav-dropdown-item:visited,
  .nav-dropdown-item:hover,
  .nav-dropdown-item:active,
  .nav-dropdown-item:focus {
    padding: 0.75rem;
  }

  .form-search {
    padding: 1rem;
  }

  .header-right {
    flex-flow: row nowrap;
  }

  .search-result-container {
    left: revert;
    right: revert;
    width: auto;
    padding: 0 0.5rem;
  }
}
