:root {
  --color-bg: #fcfcfc;
  --color-bg-dark: #212529;
  --color-text: #212529;
  --color-text-light: #5d7079;
  --color-text-hover: #1c1c1c;
  --color-text-editor: #212529;
  --color-text-grey: #808080;

  --color-primary-900: #03045E;
  --color-primary-800: #023E8A;
  --color-primary-700: #0077B6;
  --color-primary-600: #0096C7;
  --color-primary: #00B4D8;
  --color-primary-400: #48CAE4;
  --color-primary-300: #90E0EF;
  --color-primary-200: #ADE8F4;
  --color-primary-100: #CAF0F8;
  --color-primary-050: #E5F8FD;

  --color-primary-hover: #48CAE4;

  --color-secondary: #d82400;
  --color-terciary: #f45103;
  --color-cuaternary: #51b320;

  --color-failure: #ff0000;
  --color-warning: #c6da28;
  --color-success: #2ed06e;
  --color-success-light: #afdbc0;
  --color-success-highlight: #97e294;

  --color-light-0: #f4f4f4;
  --color-light-1: #ececec;
  --color-light-2: #e8e8e8;
  --color-light-3: #a6a6a6;
  --color-light-4: #808080;
  --color-light-5: #6c6c6c;

  --color-link: #0432ff;
  --color-link-hover: #3273dc;
  --color-link-success: #fff;

  --color-chart-01: #488f31;
  --color-chart-02: #de425b;

  --content-max-width: 1200px;
  --content-max-width-narrow: 800px;
  --content-max-width-form: 600px;

  --font-title: Nunito Sans,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  --font-paragraph: Nunito Sans,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;

  --color-input-text: #363636;
  --color-input-bg: #fff;
  --color-input-border: #dbdbdb;
  --border-radius: 0;
  --input-height: 2.5em;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-family: var(--font-paragraph);
  font-size: 16px;
}

body {
  line-height: 1.2;
  margin: 0 auto;
  color: var(--color-text);
  width: 100%;
  min-width: 250px;
  background-color: var(--color-bg);
}

a, a:hover, a:visited, a:active, a:focus {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

h1, h2, h3 {
  font-family: var(--font-title);
}

h1 {
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 0.67em 0;
}

h1.small {
  font-size: 1.3rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0.83rem 0;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin: 1em 0;
}

p > svg {
  width: 20px;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.4rem;
}

footer {
  text-align: center;
  padding: 2rem;
}

blockquote {
  margin: 0 0.5rem;
  font-style: italic;
  padding: 1rem 1rem 1rem 2.5rem;
  position: relative;
}

blockquote::before{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  content: "\201C";
  font-size: 4em;
  position: absolute;
  left: 0;
  top: 0;
}

blockquote::after{
  content: '';
}

blockquote *:first-child {
  margin-top: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}

/* Account starts here */
.account-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.account-content-left {
  display: none;
  max-width: var(--content-max-width-form);
  padding: 2rem 0;
  margin: 0 auto;
}

.account-content-right {
  flex-grow: 3;
}

.content-narrow-width {
  width: 100%;
  max-width: var(--content-max-width-form);
  padding: 0 5% 2rem;
  margin: 0 auto;
}

.content-narrow-width .label {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--font-title);
  margin-bottom: .5em;
}

.content-narrow-width .field:not(:last-child) {
  margin-bottom: 3rem;
}
/* Account ends here */

/* Dropdown starts here */
.dropdown-menu {
  display: none;
}

.dropdown-menu-label {
  font-weight: normal;
  color: var(--color-bg);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: auto;
  flex-grow: 0;
}

.dropdown-menu-option {
  background-color: var(--color-bg);
  color: var(--color-text);
  text-decoration: none;
  padding: 0.6rem 1em;
  display: block;
  position: relative;
  z-index: 298;
}

.dropdown-menu-option-light {
  background-color: var(--color-bg);
  color: var(--color-text) !important;
}

.dropdown-container {
  position: relative;
  flex-grow: 0 !important;
  display: flex;
  flex-flow: row wrap;
  gap: 0.2rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.dropdown-container > label {
  flex-grow: 0;
  width: auto;
}

.dropdown-menu:checked + div > ul {
  display: block !important;
}

.dropdown-menu + div > ul {
  display: none;
  list-style: none;
  position: absolute;
  right: 0;
  top: 20px;
  padding: 0;
  z-index: 298;
}

.dropdown-menu + div > ul.up {
  bottom: 22px;
  top: revert;
}

.dropdown-menu + div > ul a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-menu + div > ul a:hover {
  opacity: 0.97;
}

.dropdown-background-light-color {
  color: var(--color-text);
}
/* Dropdown ends here */

/* Modal style starts here*/
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 299;
}

.modal-wrapper-top {
  align-items: flex-start;
}

.modal-inner {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-height: 96%;
  min-height: 200px;
  max-width: 96%;
  min-width: 50%;
  background-color: var(--color-bg);
  overflow: auto;
}

.modal-inner-top {
  margin-top: 3rem;
}

.modal-bg-dark {
  background-color: var(--color-bg-dark);
}

.modal-inner-no-min-width {
  min-width: revert;
}

.modal-close-button {
  position: absolute;
  padding: 0.5rem;
  top: 0;
  right: 0;
  z-index: 299;
}

.modal-content {
  padding: 1rem 1.5rem;
  margin: 0;
  overflow: auto;
}

.modal-title {
  margin: 0;
  padding: 1rem 3rem 0 1.5rem;
}

.modal-padding {
  padding: 0.5rem;
}

.modal-header-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-primary-200);
  padding: 0 0 0.25rem 0;
}

.modal-select-image-header {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.modal-header-title {
  font-weight: bold;
  margin-bottom: 0.25rem;
}
/* Modal style ends here*/

/* Feedback style starts here */
.feedback {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: var(--color-link-success);
  padding: 7px 14px;
  margin-left: 1rem;
  border-radius: 2px;
  z-index: 999;
}

.feedback-success {
  background-color: var(--color-success) !important;
}

.feedback-error {
  background-color: var(--color-failure) !important;
}

#feedback-banner {
  width: 100%;
  text-align: center;
  color: var(--color-light-1);
  padding: 1.5rem;
  font-size: 0.9rem;
}

#feedback-banner > p {
  color: var(--color-failure);
}

.highlight-effect {
  background-color: var(--color-success) !important;
}
/* Feedback style ends here */

/* Register/Login style starts here */
.main-split-screen {
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

#register-left {
  display: none;
}

#register-right {
  flex-grow: 1;
  margin: 10vh auto;
  max-width: var(--content-max-width-form);
  padding: 0 5%;
  text-align: center;
}

#register-terms {
  text-align: left;
  color: var(--color-text-light);
  padding: 0.5rem 0;
}

#register-close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.5rem;
}
/* Register/Login style ends here */

/* Article styles starts here */
.article-header {
  padding: 0 1rem;
  max-width: var(--content-max-width-narrow);
  margin: 0 auto;
}

article {
  max-width: var(--content-max-width-narrow);
  margin: 2rem auto;
}

article img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

article > h1 {
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-title);
  font-weight: bold;
  line-height: 2rem;
  color: var(--color-text);
}

article > h2 {
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--font-title);
  line-height: 1.4rem;
}

article > p {
  margin: 0;
  padding: 0.35rem 1rem;
}

article > ul {
  padding: 0 1rem 0 3rem;
}

.article-blog-info {
  padding: 0;
  margin: 0.25rem 1rem 1rem;
  font-size: 0.85rem;
  color: var(--color-text-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.article-blog-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.article-blog-bottom a {
  min-width: 100px;
  flex-shrink: 1;
  flex-grow: 1;
}

.article-blog-footer {
  padding: 0.25rem 1rem;
  margin: 2rem 0;
  font-size: 0.9rem;
  color: var(--color-text-light);
  border-top: 1px dotted var(--color-light-3);
}

.article-blog-footer p {
  margin: 0;
  padding: 0;
}

article > img {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: auto;
}

.article-section-image-caption {
  margin-top: 0;
  padding: 0.1rem 1rem 0.25rem 1rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: var(--color-text-light);
  outline: 0;
}

article > ol {
  padding-left: 4rem;
  padding-right: 1rem;
}

div.article-section-video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

div.article-section-video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

div.article-section-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.link-title,
a.link-title:hover,
a.link-title:active,
a.link-title:visited,
a.link-title:focus {
  color: var(--color-text);
}

.article-section-image-caption,
.article-section-image,
.article-section-paragraph {
  overflow: hidden;
}
/* Article styles ends here */
/* Form starts here */
.form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  max-width: var(--content-max-width-form);
  margin: 0 auto;
  padding-top: 1rem;
}

.form-100 {
  max-width: revert;
}

.form-content-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: flex-start;
}

.form-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 0.5rem;
}

.flex-child {
  background-color: white;
  border: 1px solid var(--color-light-2);
  padding: 0.5rem;
  position: relative;
}

.block-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--color-light-2);
  width: 100%;
  gap: 0.5rem;
  padding: 0.25rem 0;
}

.block-title > h2 {
  margin: 0;
}

.dropdown-menu ~ div > ul a:hover {
  text-decoration: underline;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  flex-grow: 1;
}

.control {
  clear: both;
  position: relative;
  text-align: left;
  margin-bottom: 0;
  flex-grow: 1;
  width: 100%;
  font-size: 1rem;
}

.label,
label {
  color: var(--color-text);
  display: block;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.label-regular-font {
  font-weight: 400;
}

label:not(:last-child) {
  margin-bottom: 0.1em;
}

.help {
  color: var(--color-text-light);
  font-size: .75rem;
  margin: 0.25rem 0 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
  min-height: 1rem;
  width: 100%;
}

.help .is-danger {
  float: right;
}

input, textarea, select, button, .button {
  width: 100%;
  border: 1px solid var(--color-input-border);
  padding: calc(1rem - 1px) 1rem;
  font-family: var(--font-paragraph);
  font-size: 1rem;
  margin: 0 auto;
  border-radius: var(--border-radius);
  color: var(--color-input-text);
  background-color: var(--color-input-bg);
  min-height: var(--input-height);
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/img/svg/caret-down-grey.svg");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 15px;
  padding-right: 2rem;
}

textarea {
  min-height: 120px;
}

.textarea-large {
  min-height: 200px;
}

.button {
  min-width: 80px;
  cursor: pointer;
  display: inline-block;
  white-space: normal;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
}

button.is-link,
.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}

button.is-link.is-light,
.button.is-link.is-light {
  background-color: #eef3fc;
  color: #2160c4;
}

.is-success, .is-success:active, .is-success:visited, .is-success:hover, .is-success:focus {
  background-color: var(--color-success);
  color: var(--color-link-success);
  border: 1px solid var(--color-success);
}

.is-success-light, .is-success-light:active, .is-success-light:visited, .is-success-light:focus {
  background-color: var(--color-success-light);
  color: var(--color-link-success);
  border: 1px solid var(--color-success-light);
}

.is-success-light:hover {
  color: var(--color-link-success);
  border: 1px solid var(--color-bg);
}

.is-standard, .is-standard:active, .is-standard:visited, .is-standard:hover, .is-standard:focus {
  background-color: var(--color-link);
  color: var(--color-link-success);
  border: 1px solid var(--color-link);
}

.is-secondary, .is-secondary:active, .is-secondary:visited, .is-secondary:focus {
  background-color: var(--color-primary-700);
  color: var(--color-link-success);
  border: 1px solid var(--color-primary-700);
}

.is-secondary:hover {
  background-color: var(--color-primary-700);
  color: var(--color-link-success);
  border: 1px solid var(--color-bg);
}

.is-failure {
  color: var(--color-failure);
}

.is-highlighted {
  color: var(--color-link);
}

.is-danger {
  color: var(--color-failure) !important;
}
/* Form ends here */
/* Classes for generic use starts here */
.m-t-0 {margin-top: 0 !important;}
.m-t-025 {margin-top: 0.25rem !important;}
.m-t-05 {margin-top: 0.5rem !important;}
.m-t-075 {margin-top: 0.75rem !important;}
.m-t-1 {margin-top: 1rem !important;}
.m-t-2 {margin-top: 2rem !important;}
.m-t-3 {margin-top: 3rem !important;}
.m-t-4 {margin-top: 4rem !important;}
.m-t-5 {margin-top: 5rem !important;}
.m-t-6 {margin-top: 6rem !important;}
.m-b-0 {margin-bottom: 0 !important;}
.m-b-025 {margin-bottom: 0.25rem !important;}
.m-b-05 {margin-bottom: 0.5rem !important;}
.m-b-1 {margin-bottom: 1rem !important;}
.m-b-2 {margin-bottom: 2rem !important;}
.m-b-3 {margin-bottom: 3rem !important;}
.m-b-4 {margin-bottom: 4rem !important;}
.m-b-6 {margin-bottom: 6rem !important;}
.m-r-025 {margin-right: 0.25rem !important;}
.m-r-0 {margin-right: 0 !important;}
.m-r-05 {margin-right: 0.5rem !important;}
.m-r-1 {margin-right: 1rem !important;}
.m-r-2 {margin-right: 2rem !important;}
.m-r-3 {margin-right: 3rem !important;}
.m-r-6 {margin-right: 6rem !important;}
.m-l-0 {margin-left: 0 !important;}
.m-l-025 {margin-left: 0.25rem !important;}
.m-l-05 {margin-left: 0.5rem !important;}
.m-l-1 {margin-left: 1rem !important;}
.m-l-3 {margin-left: 3rem !important;}
.m-t-minus-25 {margin-top: -1.5rem !important;}
.no-margin {margin: 0 !important;padding: 0 !important;}
.no-padding {padding: 0 !important;}
.p-t-0 {padding-top: 0 !important;}
.p-b-1 {padding-bottom: 1rem !important;}
.p-b-6 {padding-bottom: 6rem !important;}
.p-b-10 {padding-bottom: 10rem !important;}
.p-r-05 {padding-right: 0.5rem !important;}
.p-l-05 {padding-left: 0.5rem !important;}
.light-text-color {color: var(--color-text-light);}
.no-background {background-color: transparent !important;}
.flex-no-grow {flex-grow: 0 !important;}
.flex-grow-2 {flex-grow: 2 !important;}
.flex-grow-3 {flex-grow: 3 !important;}
.flex-grow-4 {flex-grow: 4 !important;}
.bg-color-dark {background-color: var(--color-text);}
.no-border {border: none !important;}
.width-100 {width: 100% !important;}
.display-block {display: block !important;}
.word-break {word-wrap: anywhere;}
.one-line {white-space: nowrap;}
.text-right {text-align: right;}
.width-auto {width: auto;}

.null {display: none !important;}
.hidden {visibility: hidden;}
.filter-opacity {filter: opacity(0.25);}
.ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  scrollbar-width: none;
}

.two-columns {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

svg,
.img-svg {
  display: inline-block;
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: 0;
}

.img-svg-15 {
  max-width: 15px;
  max-height: 15px;
}

.img-svg-25 {
  max-width: 25px;
  max-height: 25px;
}

.img-svg-30 {
  max-width: 30px;
  max-height: 30px;
}

.img-svg-40 {
  max-width: 40px;
  max-height: 40px;
}

.img-svg-50 {
  max-width: 50px;
  max-height: 50px;
}

.img-svg-70 {
  max-width: 70px;
  max-height: 70px;
}

.img-svg-100 {
  max-width: 100px;
  max-height: 100px;
}

.justify-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px !important;
  height: auto !important;
  opacity: 1;
  z-index: 200;
}

.opacity {
  opacity: 0.5;
}

.loading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.loader-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

.loader-container-100 {
  height: 100px;
  position: relative;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,var(--color-bg) 90%,#0000) 0/calc(100%/3) 100% no-repeat;
  animation: loader2 1s steps(3) infinite;
}
@keyframes loader2 {to{background-position: 150%}}

.loader-container progress {
  width: 80%;
  height: 15px;
  background-color: var(--color-bg);
  appearance: none;
  border: none;
}

.loader-media {
  position: absolute;
  width: 40%;
  height: 10px;
  background:
      linear-gradient(var(--color-bg-dark) 0 0) left/20px 20px no-repeat
      var(--color-bg);
  animation: loader3 1s infinite linear;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}
@keyframes loader3 {
  50% {background-position: right }
}

.loader-spinner {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--color-primary-050);
  border-right-color: var(--color-primary-700);
  animation: loader4 1s infinite linear;
}
@keyframes loader4 {to{transform: rotate(1turn)}}

.narrow-width {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-max-width-narrow);
}

.one-line-flex {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
}
/* Classes for generic use ends here */
/* Homepage style starts here */
.home-main {
  max-width: var(--content-max-width-narrow);
  margin: 6rem auto;
}

.home-blog {
  max-width: var(--content-max-width-narrow);
  margin: 2rem auto;
  padding: 0 1rem;
}

.home-blog h1 {
  margin: 1rem 0 0;
}

.blog-item {
  margin: 0.75rem 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.blog-item-title {
  display: flex;
  align-items: center;
}

.blog-item a {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

.blog-info {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-text-light);
}

.home-tag {
  margin: 2rem auto;
  max-width: var(--content-max-width);
}

.home-tag > h1 {
  margin: 1rem 1rem 0;
}

.home-tag-items {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
}

.home-tag-item {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  min-width: 300px;
  margin: 1rem;
}

.home-tag-link {
  margin-top: 0.25rem;
}

.home-tag-img {
  width: auto;
  height: 250px;
  background-color: #2ed06e;
}
/* Homepage style ends here */

@media screen and (min-width: 800px) {
  .account-content {
    flex-direction: row;
  }

  .account-content-left {
    flex-grow: 1;
    display: block;
  }

  .account-content-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .account-content-left li a {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
  }

  .account-content-left li a.selected {
    font-weight: bold;
    background-color: var(--color-light-0);
  }

  .account-content-left li svg {
    margin-right: 0.5rem;
  }

  .mobile-nav-label {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #register-left {
    display: block;
    width: 41.66666667%;
    background: url('/img/roof.webp') center right / cover no-repeat;
  }

  .form-content-container {
    gap: 1rem;
    padding: 1rem;
  }

  .flex-child {
    padding: 1rem;
  }

  .modal-padding {
    padding: 1rem;
  }
}
