@font-face {
  font-family: "Atlantica";
  src: url("/fonts/AtlanticaSerif-Book.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("/fonts/AtlanticaSerif-BookItalic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("/fonts/AtlanticaSerif-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Atlantica";
  src: url("/fonts/AtlanticaSerif-SemiBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-bg: #212529;
  --color-text: #fcfcfc;
  --color-shadow: rgba(0, 0, 0, 0.15);

  --text-panel-width: 420px;

  --font-title: Atlantica,sans-serif;
  --font-paragraph: Atlantica,sans-serif;
  --font-picture: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-family: var(--font-paragraph);
  font-size: clamp(15px, 4vmin, 18px);
}

body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  width: 100%;
  min-width: 250px;
  background-color: var(--color-bg);
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: var(--color-text);
}

blockquote {
  margin: 0;
  font-style: italic;
  padding: 1rem 1rem 1rem 2.5rem;
  position: relative;
}

blockquote::before{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  content: "\201C";
  font-size: 4em;
  position: absolute;
  left: 0;
  top: 0;
}

blockquote::after{
  content: '';
}

.content-main {
  scroll-snap-stop: always;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100lvh;
}

.content-child {
  position: relative;
  scroll-snap-align: start;
  width: 100%;
  height: 100lvh;
}

.media-wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--color-bg);

  height: 100lvh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.media-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100lvh;
  transition: opacity 2s ease;
  position: absolute;
}

.media-content-shadow {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--color-shadow);
}

.media-content-wrapper {
  margin: 0 auto;
  z-index: 3;
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 100svh;
  color: var(--color-text);
  gap: 2rem;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

.media-content-wrapper .content-header {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.dots-nine-wrapper {
  z-index: 20;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  gap: 0.2rem 0.35rem;
  justify-content: flex-end;
  align-items: flex-start;
  width: 46px;
  height: 46px;
  flex-grow: 0;
  flex-shrink: 0;
}

.dots-nine-wrapper > div {
  width: 5px;
  height: 5px;
  flex-grow: 0;
  border-radius: 1px;
  background-color: var(--color-text);
  box-shadow: var(--text-shadow);
}

.media-content-wrapper .content-header-left,
.media-content-wrapper .content-text {
  z-index: 5;
}

.media-content-wrapper .content-text {
  width: 100%;
}

.media-content-wrapper .content-header-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  font-size: 2rem;
  line-height: 0.9;
  font-weight: 300;
  margin: 0;
  max-width: 25rem;
  text-shadow: var(--text-shadow);
}

.media-content-wrapper .content-main-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.media-content-wrapper .content-main-header-left {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  height: 100%;
}

.media-content-navigation {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.media-content-navigation > *,
.media-content-navigation > *:hover,
.media-content-navigation > *:active,
.media-content-navigation > *:visited,
.media-content-navigation > *:focus {
  cursor: pointer;
  width: 50%;
  height: 100lvh;
  display: block;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.media-content-wrapper .content-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.media-content-wrapper .content-header-left .number {
  font-size: 1.3rem;
  margin-top: 0.4rem;
}

.media-title {
  font-weight: 300;
  margin: 0;
  line-height: 1;
}

.media-subtitle {
  font-size: 1.3rem;
  line-height: 1.2;
  max-width: 25rem;
  text-shadow: var(--text-shadow);
  margin: 0.75rem 0 0;
}

.media-text {
  font-size: 1.1rem;
  line-height: 1.4;
  max-width: 32rem;
  text-shadow: var(--text-shadow);
  margin: 0 2rem 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.media-content-wrapper .content-main-header .media-text {
  margin: 0;
}

.main-slide-title {
  font-size: 3.5rem;
  max-width: 75%;
  line-height: 1;
}

.media-opacity-active {
  opacity: 1;
}

.media-opacity-hidden {
  opacity: 0;
}

.media-hidden {
  display: none;
}

.media-links {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.media-links a,
.media-links a:visited,
.media-links a:focus,
.media-links a:active {
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
  color: var(--color-text);
  background-color: transparent;
  box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.25);
  font: 900 0.6rem/1 arial, helvetica, sans-serif;
  letter-spacing: 0.1em;
  border-radius: 100px;
  padding: 0.25em 1em;
  text-decoration: none;
  border: 1px solid var(--color-text);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3rem;
}

.media-links a:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.media-content-wrapper .media-info {
  text-align: right;
  font-size: 0.8rem;
  font-family: var(--font-picture);
  max-width: 30rem;
  position: relative;
  z-index: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}

.media-content-wrapper .media-info-inner {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: flex-end;
  cursor: pointer;
}

.media-text-panel {
  position: absolute;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  z-index: 10;
  width: auto;
  height: auto;
  max-height: 80svh;
  color: var(--color-text);
  border-radius: 10px;
  background: rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
}

.media-panel-content {
  overflow-y: scroll;
  padding: 1.5rem;
}

.media-panel-content p:first-of-type {
  margin-top: 0;
}

.media-panel-content p:last-of-type {
  margin-bottom: 0;
}

.media-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0.5rem 1rem 1rem;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.95);
  z-index: 998;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: opacity 0.25s ease;
  opacity: 0;
  display: none;
}

.modal-wrapper-open {
  display: block;
  opacity: 1;
}

.modal-close-button {
  position: fixed;
  padding: 0.75rem;
  top: 0;
  right: 0;
  z-index: 999;
}

.album-sections-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem;
  padding: 2rem 1rem;
}

.modal-item {
  width: auto;
  min-width: 90px;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--color-bg);
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  flex: 1 1 7.5%;
}

.modal-item-thumb {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 21;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(16px) saturate(3);
}

.modal-item a,
.modal-item a:visited,
.modal-item a:active,
.modal-item a:focus {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 22;
  font-family: var(--font-picture);
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.5rem;
  text-decoration: none;
}

.modal-item a:hover {
  text-decoration: underline;
}

.album-modal-header {
  padding: 2rem 1rem 0;
}

.album-modal-title {
  margin: 0;
}

.album-modal-subtitle {
  margin: 0 0 1rem 0;
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 400;
  font-family: var(--font-picture);
}

.album-modal-text {
  font-size: 1rem;
}

.null {display: none !important;}
.hidden {visibility: hidden;}

@media only screen and (min-width: 600px) {
  .media-title {
    font-size: 2rem;
  }

  .main-slide-title {
    font-size: 4rem;
    max-width: 25rem;
  }

  .media-content-wrapper {
    padding: 2rem 4rem 2rem 2rem;
  }

  .media-text-panel {
    width: var(--text-panel-width);
    right: 2.25rem;
    bottom: 2.25rem;
    left: revert;
  }

  .media-links {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 900px) {
  .media-title {
    font-size: 2rem;
  }

  .main-slide-title {
    font-size: 5rem;
    max-width: 30rem;
  }

  .media-content-wrapper {
    padding: 4rem;
  }

  .media-text-panel {
    width: var(--text-panel-width);
    right: 2.25rem;
    bottom: 2.25rem;
    left: revert;
  }

  .media-links {
    justify-content: flex-start;
  }
}